.cux-btn {
  border: none;
  cursor: pointer;
  height: 30px;
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
  background-color: #363741;
  color: #c7c7c7;
}

.cux-btn:disabled {
  opacity: 0.5;
  cursor: context-menu;
}

.cux-btn:hover:not([disabled]) {
  background-color: #52545f;
  color: #ffffff;
}

.cux-btn:focus {
  background-color: #52545f;
  color: #ffffff;
}

.cux-btn-prim {
  background-color: #0b65b1;
  color: #ffffff;
}

.cux-btn-prim:hover:not([disabled]) {
  background-color: #2375b9;
}

.cux-btn-prim:focus:not([disabled]) {
  background-color: #2375b9;
}

.cux-toolbar {
  height: 40px;
  background-color: #292a31;
  padding: 0 20px 0 20px;
}

.cux-toolbar button {
  margin: 0 25px;
}

.cux-toolbar .cux-toolbar-icon {
  background-color: #808499;
  width: 24px;
  height: 24px;
  position: center;
  margin: 0 20px;
  display: inline-block;
}

.cux-toolbar .cux-toolbar-icon:focus {
  color: #ffffff;
}

.cux-toolbar .cux-toolbar-icon:hover {
  color: #ffffff;
}

.cux-toolbar .cux-toolbar-icon:disabled {
  opacity: 0.5;
}

.loading {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(199, 199, 199, 0.2);
  border-top-color: #c7c7c7;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.loading_small {
  display: inline-block;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  border: 1px solid rgba(199, 199, 199, 0.2);
  border-top-color: #c7c7c7;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cux-collapse {
  width: 10px;
  height: 10px;
  background-color: #292a31;
}

.coll-icon {
  background-color: #808499;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.coll-icon:hover {
  background-color: #ffffff;
}

.cux-collapse:hover {
  background-color: #52545f;
}

.coll-left {
  mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iM3B4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDMgNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMyA2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWxpbmUgcG9pbnRzPSIzLDYgMCwzIDMsMCAiLz48L3N2Zz4=);
  -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iM3B4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDMgNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMyA2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWxpbmUgcG9pbnRzPSIzLDYgMCwzIDMsMCAiLz48L3N2Zz4=);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 5px;
  -webkit-mask-position: center,center;
}

.coll-right {
  mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iM3B4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDMgNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMyA2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWxpbmUgcG9pbnRzPSIwLDAgMywzIDAsNiAiLz48L3N2Zz4=);
  -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iM3B4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDMgNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMyA2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWxpbmUgcG9pbnRzPSIwLDAgMywzIDAsNiAiLz48L3N2Zz4=);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 5px;
  -webkit-mask-position: center,center;
}

.coll-up {
  mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNnB4IiBoZWlnaHQ9IjNweCIgdmlld0JveD0iMCAwIDYgMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNiAzIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWxpbmUgcG9pbnRzPSIwLDMgMywwIDYsMyAiLz48L3N2Zz4=);
  -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNnB4IiBoZWlnaHQ9IjNweCIgdmlld0JveD0iMCAwIDYgMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNiAzIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWxpbmUgcG9pbnRzPSIwLDMgMywwIDYsMyAiLz48L3N2Zz4=);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 10px;
  -webkit-mask-position: center,center;
}

.coll-down {
  mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNnB4IiBoZWlnaHQ9IjNweCIgdmlld0JveD0iMCAwIDYgMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNiAzIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWxpbmUgcG9pbnRzPSI2LDAgMywzIDAsMCAiLz48L3N2Zz4=);
  -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNnB4IiBoZWlnaHQ9IjNweCIgdmlld0JveD0iMCAwIDYgMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNiAzIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWxpbmUgcG9pbnRzPSI2LDAgMywzIDAsMCAiLz48L3N2Zz4=);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 10px;
  -webkit-mask-position: center,center;
}

.cux-tooltip {
  background-color: #41434d;
  color: #c7c7c7;
  font-size: 11px;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  position: relative;
}

.cux-tooltip:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: 4px solid transparent;
  border-bottom-color: #41434d;
}

.cux-notification {
  width: 340px;
  background-color: #33353d;
  -webkit-box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.2);
  color: #c7c7c7;
  font-size: 14px;
  text-align: center;
  line-height: 15px;
  padding: 20px 20px 20px 20px;
}

.cux-notification .loading {
  margin-bottom: 20px;
}

.cux-notification .message {
  color: #808499;
  font-size: 11px;
  line-height: 15px;
  margin-top: 20px;
}

.cux-dialog {
  background-color: #292a31;
  -webkit-box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.2);
}

.cux-dialog .dialog-header {
  background-color: #33353d;
  font-size: 14px;
  color: #c7c7c7;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.cux-dialog .dialog-message {
  font-size: 11px;
  color: #808499;
  line-height: 15px;
}

.cux-dialog .dialog-footer {
  background-color: #33353d;
}

.cux-dialog .dialog-btn-prim {
  background-color: #0a65b1;
  color: #ffffff;
}

.cux-dialog .dialog-btn-prim:hover:not([disabled]) {
  background-color: #2375b9;
  color: #ffffff;
}

.cux-dialog .dialog-btn-prim:focus {
  background-color: #2375b9;
  color: #ffffff;
}

.cux-dialog .dialog-btn-prim:disabled {
  opacity: 0.5;
}

.cux-dialog .dialog-btn-cancel {
  background-color: #464754;
  color: #c7c7c7;
}

.cux-dialog .dialog-btn-cancel:hover:not([disabled]) {
  background-color: #52545f;
  color: #ffffff;
}

.cux-dialog .dialog-btn-cancel:focus {
  background-color: #52545f;
  color: #ffffff;
}

.cux-dialog .dialog-btn-cancel:disabled {
  opacity: 0.5;
}

.cux-dialog .dialog-search {
  outline: none;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #808499;
  margin-bottom: 5px;
  color: #ffffff;
}

.cux-dialog .dialog-search:focus {
  outline: none;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff;
}

.cux-dialog .dialog-btn-multi-select {
  font-size: 11px;
  padding: 0 10px;
  background-color: #363741;
  color: #c7c7c7;
}

.cux-dialog .dialog-btn-multi-select:hover {
  background-color: #52545f;
  color: #ffffff;
}

.cux-dialog .dialog-btn-multi-select:focus {
  background-color: #52545f;
  color: #ffffff;
}

.cux-dialog .dialog-multi-select-row {
  line-height: 30px;
  display: flex;
  align-items: center;
  font-size: 11px;
}

.cux-dialog .dialog-multi-select-row:hover {
  background-color: #0d87ee;
  color: #ffffff;
}

.cux-dialog .dialog-multi-select-row:focus {
  background-color: #0d87ee;
  color: #ffffff;
}

.cux-textbox {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #808499;
}

.cux-textbox .asterisk {
  color: #808499;
}

.cux-textbox .asterisk-error {
  color: #ad292f;
}

.cux-textbox-value {
  outline: none;
  color: #ffffff;
  font-size: 14px;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #808499;
  margin-bottom: 5px;
}

.cux-textbox-value .error {
  color: #ad292f;
}

.cux-textbox-value:focus {
  outline: none;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 5px;
}

.cux-textbox-label {
  outline: none;
  color: #808499;
  font-size: 11px;
  padding-right: 10px;
  margin-bottom: 5px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  vertical-align: text-bottom;
}

.cux-checkbox {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IGZpbGw9IiMxRjIxMjciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  outline: none;
  color: #808499;
  font-size: 11px;
  margin: 0 10px;
}

.cux-checkbox:not([checked]) {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IGZpbGw9IiMxRjIxMjciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  opacity: 1;
}

.cux-checkbox:not([checked]):disabled {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IGZpbGw9IiMxRjIxMjciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.cux-checkbox:not([disabled]):checked {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxyZWN0IGZpbGw9IiMxRjIxMjciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIvPjxwb2x5Z29uIGZpbGw9IiMwRDg3RUUiIHBvaW50cz0iNC41NDQsNy40NTUgMi4yMTUsNS4xMjcgMS4wNSw2LjI5MSA0LjU0NCw5Ljc4NSAxMC45NSwzLjM4IDkuNzg1LDIuMjE1ICIvPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  opacity: 1;
}

.cux-rclick-menu {
  color: #c7c7c7;
  font-size: 11px;
  background-color: #41434d;
  -webkit-box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  padding: 0;
}

.cux-rclick-menu > li {
  cursor: pointer;
  line-height: 30px;
  padding: 0 20px;
  display: flex;
  justify-content: left;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.cux-rclick-menu > li:hover {
  background-color: #0d87ee;
  color: #ffffff;
}

.cux-rclick-menu > li:focus {
  background-color: #0d87ee;
  color: #ffffff;
}

.cux-radio-btn {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxjaXJjbGUgZmlsbD0iIzFGMjEyNyIgY3g9IjYiIGN5PSI2IiByPSI2Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  color: #808499;
  font-size: 11px;
  margin: 0 10px;
  cursor: pointer;
  outline: none;
}

.cux-radio-btn:not([checked]) {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxjaXJjbGUgZmlsbD0iIzFGMjEyNyIgY3g9IjYiIGN5PSI2IiByPSI2Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  opacity: 1;
}

.cux-radio-btn:not([checked]):disabled {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxjaXJjbGUgZmlsbD0iIzFGMjEyNyIgY3g9IjYiIGN5PSI2IiByPSI2Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: default;
}

.cux-radio-btn:not([disabled]):checked {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxjaXJjbGUgZmlsbD0iIzFGMjEyNyIgY3g9IjYiIGN5PSI2IiByPSI2Ii8+PGNpcmNsZSBmaWxsPSIjMEQ4N0VFIiBjeD0iNiIgY3k9IjYiIHI9IjMiLz48L2c+PC9zdmc+);
  background-repeat: no-repeat;
  opacity: 1;
}

.cux-radio-btn:checked:disabled {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxjaXJjbGUgZmlsbD0iIzFGMjEyNyIgY3g9IjYiIGN5PSI2IiByPSI2Ii8+PGNpcmNsZSBmaWxsPSIjMEQ4N0VFIiBjeD0iNiIgY3k9IjYiIHI9IjMiLz48L2c+PC9zdmc+);
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: default;
}

.cux-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  line-height: 30px;
  background-color: #1f2127;
  font-size: 11px;
  color: #808499;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cux-table-heading {
  display: table-header-group;
  border-bottom: 1px solid #1f2127;
}

.cux-table-body {
  display: table-row-group;
}

.cux-table-row {
  background-color: #292a31;
  display: table-row;
  border-bottom: 1px solid #1f2127;
  color: #aaaecb;
}

.cux-table-row:hover {
  background-color: #3a3c44;
  color: #ffffff;
}

.cux-table-row:focus {
  background-color: #52545f;
  color: #ffffff;
}

.cux-table-cell {
  display: table-cell;
}

.cux-table-head {
  display: table-cell;
  border-right: 1px #3c3f49 dotted;
  padding-left: 10px;
}

.cux-table-foot {
  display: table-footer-group;
}

.cux-drop-down {
  position: relative;
  background-color: #41434d;
}

.cux-drop-down:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-bottom-color: #41434d;
}

.cux-drop-down-header {
  vertical-align: middle;
  display: flex;
}

.cux-drop-down-header .arrow {
  display: inline-block;
  margin-left: auto;
  width: 11px;
  height: 11px;
  color: #808499;
  background-color: #41434d;
  mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA4IDU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBwb2ludHM9IjgsMCA2LjksMCA0LDMuNiAxLjEsMCAwLDAgNCw1ICIvPjwvc3ZnPg==);
  -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA4IDU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBwb2ludHM9IjgsMCA2LjksMCA0LDMuNiAxLjEsMCAwLDAgNCw1ICIvPjwvc3ZnPg==);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 11px;
  -webkit-mask-position: center,center;
}

.cux-drop-down-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* align vertical */
  flex-grow: 100;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #808499;
  margin-bottom: 5px;
}

.cux-drop-down-item {
  color: #c7c7c7;
  font-size: 11px;
  min-height: 30px;
  line-height: 30px;
  padding: 0 20px;
  background-color: #41434d;
  display: flex;
  justify-content: left;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.cux-drop-down-input-wrapper {
  padding: 0 20px;
  min-height: 30px;
  background-color: #41434d;
}

.cux-drop-down-input {
  outline: none;
  width: 100%;
  color: #ffffff;
  height: 30px;
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTE5LDUuMDFMMTksNS4wMVY1LjAwOGgtMUw2LDV2MC4wMXYyLjA2Mmw1LDUuMTU3VjE5aDN2LTYuNzE2bDUtNS4yMDVWNS4wMXogTTE4LDYuNTQzbC00Ljk5Myw1LjE3MmwwLjAxMiwwLjAxMkgxM3Y2LjIzNmgtMXYtNi4yMTVoLTAuMDE2TDcsNi41ODZWNi4wNDVoMTFWNi41NDN6Ii8+PC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 21px 22px;
  background-position: left;
  font-size: 11px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #808499;
  display: flex;
  justify-content: left;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  margin-bottom: 10px;
  padding-left: 23px;
}

.cux-drop-down-input:focus {
  outline: none;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTE5LDUuMDFMMTksNS4wMVY1LjAwOGgtMUw2LDV2MC4wMXYyLjA2Mmw1LDUuMTU3VjE5aDN2LTYuNzE2bDUtNS4yMDVWNS4wMXogTTE4LDYuNTQzbC00Ljk5Myw1LjE3MmwwLjAxMiwwLjAxMkgxM3Y2LjIzNmgtMXYtNi4yMTVoLTAuMDE2TDcsNi41ODZWNi4wNDVoMTFWNi41NDN6Ii8+PC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 21px 22px;
  background-position: left;
}

.cux-drop-down-item:hover {
  background-color: #0d87ee;
  color: #ffffff;
}

.cux-drop-down-item:focus {
  background-color: #0d87ee;
  color: #ffffff;
}

.cux-drag-item {
  width: 270px;
  height: 30px;
  font-size: 11px;
  color: #ffffff;
  opacity: 1;
  border-bottom: 1px solid #1f2127;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #52545f;
}

.cux-drag-thumb {
  width: 53px;
  height: 30px;
  display: flex;
}

.cux-drag-data {
  max-height: 30px;
  line-height: 30px;
  padding-left: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cux-drop-area-wrapper {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #0d87ee;
  background-color: rgba(0, 0, 0, 0.5);
}

.cux-drop-area {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: radial-gradient(black 50%, white);
  left: calc(50% - 16px);
  top: calc(50% - 16px);
}

.cux-drop-icon {
  position: relative;
  height: 32px;
  width: 32px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMwRDg3RUUiIGQ9Ik0xMi4wMDEsMEM1LjM3MywwLDAsNS4zNzIsMCwxMnM1LjM3MywxMiwxMi4wMDEsMTJDMTguNjI4LDI0LDI0LDE4LjYyOCwyNCwxMlMxOC42MjgsMCwxMi4wMDEsMHogTTE4LDEzaC01djVoLTJ2LTVINnYtMmg1VjZoMnY1aDVWMTN6Ii8+PC9zdmc+);
}

.cux-progress-bar {
  display: flex;
  justify-content: left;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.cux-progress-bar-label {
  color: #808499;
  font-size: 11px;
  padding-right: 10px;
}

.cux-bar {
  width: 100%;
  height: 6px;
  border-radius: 2px;
  background-color: #1f2127;
  position: relative;
}

.cux-bar-loading {
  height: 6px;
  position: absolute;
  background-color: #0d87ee;
  border-radius: 2px;
}

.cux-progress-bar-button {
  width: 12px;
  height: 12px;
  padding: 0 10px;
  cursor: pointer;
  background-color: #808499;
  mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ImRlbGV0ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiMwMTAxMDEiIHBvaW50cz0iMTUuMDEsOS43IDE0LjMsOC45OSAxMiwxMS4yOSA5LjcsOC45OSA4Ljk5LDkuNyAxMS4yOSwxMiA4Ljk5LDE0LjMgOS43LDE1LjAxIDEyLDEyLjcxIDE0LjMsMTUuMDEgMTUuMDEsMTQuMyAxMi43MSwxMiAiLz48L3N2Zz4=);
  -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ImRlbGV0ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiMwMTAxMDEiIHBvaW50cz0iMTUuMDEsOS43IDE0LjMsOC45OSAxMiwxMS4yOSA5LjcsOC45OSA4Ljk5LDkuNyAxMS4yOSwxMiA4Ljk5LDE0LjMgOS43LDE1LjAxIDEyLDEyLjcxIDE0LjMsMTUuMDEgMTUuMDEsMTQuMyAxMi43MSwxMiAiLz48L3N2Zz4=);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 24px;
  -webkit-mask-position: center,center;
}
/*# sourceMappingURL=cloudux.css.map */